@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-disply: "Onest", sans-serif;
}

* {
  font-family: "Onest", sans-serif;
}

/* index.css */
body {
  cursor: none; /* Hides the default arrow */
  scroll-behavior: smooth;
}

/* Optional: Bring back the pointer for links/buttons if you want */
a, button {
  cursor: pointer; 
}

.bg-noise {
  position: relative;
}
.bg-noise::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05; /* Adjust visibility */
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}
